@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&family=DM+Sans:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-bg-cream text-forest-green;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}
